.nav {
   background-color: #90a4ae;
}

.page-footer {
   background-color: #90a4ae;
}

.fa-linkedin-square {
   color: white;
}

.fa-github-square {
   color: white;
}

.fa-envelope {
   color: white;  
}

.icon_L {
   color: white;
}

.icon_G {
   color: white;
}

.fa-file {
   color: white;
}

.icon_F {
   color: white;
}

/*body {
   background: url("../images/Titanium.jpg") no-repeat center fixed;
   background-color: black;
   background-size: cover;
}*/

/* Cover Video CSS */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}