.nav {
   background-color: #90a4ae;
}

.page-footer {
   background-color: #90a4ae;
}

.fa-linkedin-square {
   color: white;
}

.fa-github-square {
   color: white;
}

.fa-envelope {
   color: white;  
}

.icon_L {
   color: white;
}

.icon_G {
   color: white;
}

.fa-file {
   color: white;
}

.icon_F {
   color: white;
}