.nav {
   background-color: #90a4ae;
}

.logo {
  padding-left: 10px;
  font-weight: 300;
}

.intro {
  padding-top: 20px;
}

.fa-linkedin-square {
   color: white;
}

.fa-github-square {
   color: white;
}

.fa-envelope {
   color: white;  
}

.icon_L {
   color: white;
}

.icon_G {
   color: white;
}

.fa-file {
   color: white;
}

.icon_F {
   color: white;
}

.section-header {
  font-family: "Roboto", sans serif;
  font-weight: 300;
}

