h1 {
	color: black;
	text-align: left;
	text-decoration: underline;
	font-family: "Helvetica";
}

#b1 {
	color: black;
	text-align: left;
	font-family: "Helvetica";
}

/*#anotherh1 {
	color: blue;
	font-family: "Comic Sans MS";
}

#anotherh1:hover {
	color: green;
	opacity: 0;
	transform: translateY(20px);
}*/

/*#Harit {
	background-color: red;
	height: 100px;
	width: 100px;
}*/