h1 {
	color: red;
	text-align: center;
	text-decoration: underline;
	font-family: "Helvetica";
}

#anotherh1 {
	color: blue;
	font-family: "Comic Sans MS";
}

#anotherh1:hover {
	color: green;
	/*opacity: 0;*/ /*uncomment to see disappear*/
	transform: translateY(20px);
}

#Harit {
	background-color: red;
	height: 100px;
	width: 100px;
}